html{
    display: flex;
    justify-content: center;
    align-content: center;
}

main{
    display: flex;
    justify-content: center;
    align-content: center;
}

body{
    justify-content: center;
    align-content: center;
    text-align: center;
    background-image: url('images/level6.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

span{
    font-family: "Montserrat", sans-serif;
    font-size: 5rem;
    margin: auto;
    font-weight: 100;
    color: antiquewhite;
}

.Rules{
    border-radius: 10px;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgb(85, 85, 74);
    border: 1px solid rgba(255,255,255,0.01);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(82, 79, 79, 0.3);
    border: 1px solid rgba(248, 247, 247, 0.34);
    width: 50%;
    height: auto;
    color: antiquewhite;
    font-size: x-large;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 25%;
    left: 25%;
    font-family: "Montserrat", sans-serif;
}

img{
    width: 50px;
    height: 50px;
    margin-bottom: -15px;
    border-radius: 15%;
}

.up{
    rotate: 90deg;
}

.right{
    rotate: 180deg;
}

.space{
    width: 120px;
}

.grid{
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255,255,255,0.30);
    border: 1px solid rgba(255,255,255,0.34);
    width: 321px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 5px;
}
.grid div{
    width: 30px;
    height: 30px;
    border: 1px solid rgb(202, 194, 194);
    border-radius: 10px;

}

.grid .block{
    border: 1px solid rgb(0, 0, 0);
}

.grid .Freezed{
    border: 1px solid rgb(0, 0, 0);
}

.grid .endGrid{
    background: transparent;
    border: 0px;
    height: 1px;
}

.dashboard{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255,255,255,0.75);
    border: 1px solid rgba(255,255,255,0.01);
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255,255,255,0.30);
    border: 1px solid rgba(255,255,255,0.34);
    border-radius: 10px;
    width: 170px;
    margin: 5px;
    justify-content: center;
    align-content: center;
}

.previous-grid{
    border-radius: 10px;
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgb(85, 85, 74);
    border: 1px solid rgba(255,255,255,0.01);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(82, 79, 79, 0.3);
    border: 1px solid rgba(248, 247, 247, 0.34);
    width: 129px;
    height: 129px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 12%;
    margin-top: 10%;
}



.previous-grid div{
    width: 30px;
    height: 30px;
    border: 1px solid rgb(150, 148, 148);
    border-radius: 10px;
}

.score{
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    margin: auto;
    font-weight: 100;
    color: rgb(203, 190, 174);
}

#score{
    border: 0px;
    background: transparent;
    color: rgb(239, 239, 238);
    font-family: "Montserrat", sans-serif;
    font-size: 3.72rem;
    text-align: center;
    width: 129px;
}

#lines{
    border: 0px;
    background: transparent;
    color: rgb(239, 239, 238);
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    width: 129px;
}

.button{
    width: 90px;
    height: 50px;
    margin: 5%;
    background-color: rgba(161, 160, 160, 0.411);
    border-radius: 30%;
    color: aliceblue;
    font-size: medium;
    font-weight: 300;

}
