html{
    display: flex;
    justify-content: center;
    align-content: center;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

main .main{
    display: flex;
    justify-content: center;
    align-content: center;
}

body{
    justify-content: center;
    align-content: center;
    text-align: center;
    background-image: url('images/level6.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

span{
    font-family: "Montserrat", sans-serif;
    font-size: 4rem;
    margin: auto;
    font-weight: 100;
    color: antiquewhite;
    
}

.doNotShow{
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 100;
    color: rgb(192, 189, 185);
}

#doNotShow{
    background: transparent;
}

#myName{
    background: transparent;
    background-color: rgb(161, 177, 177);
    border: 1px solid gray;
    border-radius: 10px;
    width: auto;
    height: 26px;
    margin: 5%;
    text-align: center;

}

table {
    color: antiquewhite;
    font-size: x-large;
    font-weight: lighter;
}

.hisName{
    width: 135px;
    height: 30px;
}

.hisScore{
    width: 80px;
}

.cookies{
    border-radius: 10px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(82, 79, 79, 0.3);
    border: 1px solid rgba(248, 247, 247, 0.34);
    width: 50%;
    height: auto;
    color: antiquewhite;
    font-size: x-large;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 25%;
    left: 25%;
    font-family: "Montserrat", sans-serif;

}

.cookiesMessage{
    letter-spacing: 5px;
}

#cookieMessage{
    font-size: x-large;
    font-family: "Montserrat", sans-serif;
}

.Rules{
    border-radius: 10px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(82, 79, 79, 0.3);
    border: 1px solid rgba(248, 247, 247, 0.34);
    width: 50%;
    height: auto;
    color: antiquewhite;
    font-size: x-large;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 25%;
    left: 25%;
    font-family: "Montserrat", sans-serif;
}

img{
    width: 40px;
    height: 40px;
    margin-bottom: -15px;
    border-radius: 15%;
}



.up{
    rotate: 90deg;
}

.right{
    rotate: 180deg;
}

.space{
    width: 120px;
}

.menu{
    display: block;
}

.navbar-btn{
    position: absolute;
    
    left: 2%;
    gap: 4rem;
    list-style: none;
    color: #aebbc7;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(134, 133, 138, 0.3);
    border: 1px solid rgba(248, 247, 247, 0.34);
    justify-content: center;
    align-content: center;
    text-align: justify;
    width: auto;
    height: auto;

}

.navbar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top:5%;
    left: 2%;
    gap: 4rem;
    list-style: none;
    color: #aebbc7;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(75, 73, 73, 0.3);
    border: 1px solid rgba(248, 247, 247, 0.34);
    width: 14%;
    height: 90%;
    justify-content: center;
    align-content: center;
    text-align: justify;

}
.nav {
    position: absolute;
    top: 48%;
    left: 2%;
    border-radius: 50%;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(99, 185, 185, 0.137);
    border: 1px solid rgba(248, 247, 247, 0.34);
    width: 50px;
    height: 50px;
    animation: pulse1 3s infinite;
}

@keyframes pulse1 {
    0% , 100% {
        background: rgba(247, 248, 248, 0.301);
    }
    50% {
        transform : scale(0,1.1) ; 
        background: rgb(179, 149, 94);
    }
}

  
.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
    transition: all 0.4s ease;
    letter-spacing: 0.1rem;
}
  
.navbar-link:hover,
.navbar-link:active {
    color: rgb(245, 205, 130);
    font-style: italic;
    font-size: xxx-large ;
    text-shadow: 4px  4px 9px rgba(240, 227, 227, 0.5);
}
  
.history{
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(75, 73, 73, 0.3);
    border: 1px solid rgba(248, 247, 247, 0.34);
    width: 50%;
    height: auto;
    color: rgb(255, 255, 255);
    font-size: x-large;
    text-align: center ;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 25%;
    left: 25%;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
}

.load-level{
    height: 10px;
    width: 100%;
    border: red 1px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255,255,255,0.30);
    border: 1px solid rgba(255,255,255,0.34);
    display: flex;
    flex-wrap: wrap;
}

.load-level div{
    background-color: rgb(46, 189, 42);
    width: 6.66667%;
    height: auto;
}


.load-level .n0{
    border-radius: 10PX 0PX 0px 10px;
}

.load-level .n15{
    border-radius:  0px 10px 10px 0px ;
}

.load-level .n16{
    border-radius: 10px ;
}



.grid{
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255,255,255,0.30);
    border: 1px solid rgba(255,255,255,0.34);
    width: 270px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    margin: 5px;
}

.grid div{
    width: 25px;
    height: 25px;
    border: 1px solid rgb(202, 194, 194);
    border-radius: 7px ;

}



.grid .block{
    border: 1px solid rgb(0, 0, 0);
}

.grid .Freezed{
    border: 1px solid rgb(0, 0, 0);
}

.grid .endGrid{
    background: transparent;
    border: 0px;
    height: 1px;
}

.dashboard{
    box-shadow: 0 4px 30px rgba(35,35,35,0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255,255,255,0.30);
    border: 1px solid rgba(255,255,255,0.34);
    border-radius: 10px;
    width: 250px;
    margin: 5px;
    justify-content: center;
    align-content: center;
}

.previous-grid{
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(82, 79, 79, 0.3);
    border: 1px solid rgba(248, 247, 247, 0.34);
    width: 108px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin-left: 28%;
    margin-top: 10%;
}



.previous-grid div{
    width: 25px;
    height: 25px;
    border: 1px solid rgb(150, 148, 148);
    border-radius: 10px;
}

.score{
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    margin: auto;
    font-weight: 100;
    color: rgb(203, 190, 174);
}

#score{
    border: 0px;
    background: transparent;
    color: rgb(239, 239, 238);
    font-family: "Montserrat", sans-serif;
    font-size: 3.72rem;
    text-align: center;
    width: 170px;
}

#lines{
    border: 0px;
    background: transparent;
    color: rgb(239, 239, 238);
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    width: 129px;
}

.button{
    width: 90px;
    height: 50px;
    margin: 5%;
    background-color: rgba(161, 160, 160, 0.411);
    border-radius: 30%;
    color: aliceblue;
    font-size: medium;
    font-weight: 300;

}

.animated-text {
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
}

.animated-text2 {
    font-weight: bold;
    animation: fadeIn 2s ease-in;
}

.animated-text3 {
    font-weight: bold;
    animation: fadeIn 2.5s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.gameOver {
    animation: wavy 1.5s infinite;
}

.gameOver :hover{
    animation: wavy 7s infinite;
}



.gameOverbtn {
    animation: pulse 0.75s infinite;
    
}

@keyframes pulse {
    0% , 100% {
        transform : scale(1) ;
    }
    50% {
        transform : scale(1.1,1.1) ; 
    }
}

@keyframes wavy {
    0%,40%,100%{
        transform: translateY(0) ;
    }
    20% {
        transform: translateY(-20px) ;
    }
}





.gameOver{
    border-radius: 10px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(82, 79, 79, 0.3);
    border: 1px solid rgba(248, 247, 247, 0.34);
    width: 60%;
    height: auto;
    color: antiquewhite;
    font-size: x-large;
    text-align: center;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 64%;
    left: 20%;
}


.gameOver span{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    margin: auto;
    font-weight: 100;
    color: rgb(247, 247, 240);
    letter-spacing: 10px;
}

.copyright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

}



.text1 { 
    color: rgb(247, 246, 250); 
    font-size: 70px; 
    font-weight: 700; 
    letter-spacing: 8px; 
    margin-bottom: 20px; 
    animation: text 3s 1; 
    display: block; 
    width: 100%; 
} 

@keyframes text { 
    0% { 
        color: black; 
        margin-bottom: -40px; 
    } 

    30% { 
        letter-spacing: 25px; 
        margin-bottom: -40px; 
    } 

    85% { 
        letter-spacing: 8px; 
        margin-bottom: -40px; 
    } 
   
} 
.card{
    border-radius: 10px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(82, 79, 79, 0.3);
    border: 1px solid rgba(248, 247, 247, 0.34);
    height: 400px;
    color: antiquewhite;
    font-size: x-large;
    text-align: center;
    justify-content: center;
    align-content: center;
    font-family: "Montserrat", sans-serif;
    animation: card ease;
    width: 40%;
    margin: 1%;
    margin-left: 5%;
    margin-right: 5%;
}

.card:hover{
    transform : scale(1.1,1.1) ; 
}

@keyframes card { 
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.about-us{
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-content: center;
    
}

.icon{
    width: 30px;
    height: 30px;
    border-radius: 20%;
    align-items: center;
    margin: 15px;
}

.icon:hover{
    width: 38px;
    height: 38px;
    margin: 11px;
}

.pic{
    width: 200px;
    height: auto;
    margin-bottom: -15px;
    border-radius: 50%;
    align-items: center;
}

.card h2{
    font-size: 1.6rem;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

.notification{
    border-radius: 10px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(75, 73, 73, 0.3);
    border: 1px solid rgba(248, 247, 247, 0.34);
    width: 50%;
    height: auto;
    color: rgb(255, 255, 255);
    font-size: x-large;
    text-align: center ;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 3%;
    left: 25%;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
    animation: fadeIn ease-in-out;
}

.load-level-text{
    font-size: xx-large;
    font-weight: 400;
    margin: 10%;
    color: antiquewhite;
}